<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--system.webServer>
        <modules>
            <add name="HttpModuleJasonTest" type="HttpModuleJasonTest.HttpModuleJasonTest" />
        </modules>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
	<system.web>
		<compilation defaultLanguage="c#" debug="false">
			<assemblies>
				<add assembly="HttpModuleJasonTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=77A38B88117CAB59" />
			</assemblies>
		</compilation>
	</system.web-->
</configuration>
